@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*如果是用bs4已有內建此段語法*/
*, *:before, *:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
  /*下block 去除底下img buttom px用*/
  display: block;
}

a {
  display: inline-block;
  text-decoration: none;
  /*&:hover{}*/
}

/*用bs4加入以下兩個
ul{
  padding: 0;
}

ul,li{
  list-style:none
}*/
body {
  height: 100vh;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #003;
}

.container {
  width: 1200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  font-family: 'Noto Sans TC', sans-serif;
}

.staff_card {
  width: 368px;
  margin: 15px;
  text-align: center;
  background-color: #fff;
  border: 1px solid #ccc;
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.staff_card_img {
  width: 100%;
}

.staff_card_conent {
  padding: 20px;
  position: relative;
}

.staff_card_conent:before {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  left: 0;
  top: 0;
  border-top: 50px solid transparent;
  border-left: 184px solid #fff;
  border-right: 183px solid #fff;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
}

.staff_card_title {
  font-size: 22px;
  border-bottom: 1px solid #888;
  padding-bottom: 16px;
  margin-bottom: 16px;
  font-weight: 900;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.staff_card_text {
  line-height: 1.5;
  font-weight: 300;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.staff_card:hover {
  -webkit-transform: translateY(-50px);
          transform: translateY(-50px);
}

.staff_card:hover .staff_card_conent {
  background-image: -webkit-gradient(linear, left bottom, left top, from(#5B00AE), to(#D3A4FF));
  background-image: linear-gradient(0deg, #5B00AE, #D3A4FF);
}

.staff_card:hover .staff_card_conent:before {
  border-left: 184px solid #D3A4FF;
  border-right: 183px solid #D3A4FF;
}

.staff_card:hover .staff_card_title {
  color: #fff;
  border-bottom: 1px solid #fff;
}

.staff_card:hover .staff_card_text {
  color: #fff;
}
/*# sourceMappingURL=all.css.map */